<h1>Admin features</h1>

<ul>
  <li><%= link_to 'Donation ID', admin_donation_id_path %></li>
  <li><%= link_to 'JWT token generator', admin_jwt_token_path %></li>
  <li><%= link_to 'Audios', admin_audios_path %></li>
</ul>
