.application {
  font-family: "Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  background-color: #f8f9fa;
  color: #303030;
  text-align: left;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
}


.application__fixed-top {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1000;
}


.application__header {
  display: flex;
  flex-direction: row;
  justify-content: center;
}


.application__header-logo {
  background-image: url("~images/logo.svg");
  background-size: contain;
  filter: invert(9%) sepia(0%) saturate(8%) hue-rotate(197deg) brightness(102%) contrast(93%);
  height: 64px;
  width: 64px;
}


.application__content {
  flex-grow: 1;
}


.application__footer {
  font-size: 0.9em;
  border-top: 2px solid #2f2f37;
  padding: 15px 50px 30px 50px;
}
